@import '@utils/global';

.col1 {
  width: 87px;
}
.col2 {
  width:68px;
}
.col3 {
  width: 58px;
}
.col4 {
  width: 58px;
}
.col5 {
  width: 58px;
}
.col6 {
  width: 78px;
}

.TablePaymentBoxes {
  width: 100%;
  margin-bottom: 12px;
  border-collapse:  collapse;

  @include on-l-desktop {
    margin-bottom: 24px;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    padding: 6px 8px;
    background-color: $gray;
    border-radius: 5px;

    @include on-l-desktop {
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__table {
    margin-top: 8px;
    transition: all 0.3s;
    max-height: 0;
    overflow: hidden;

    &_active {
      max-height: 300px;
    }

    @include on-l-desktop {
      margin-top: 12px;
    }
  }

  & thead td {
    vertical-align: top;
    padding: 4px;
    padding-bottom: 12px;
    // padding-top: 4px;
    // padding-inline: 4px;
    // height: 34px;
    font-size: 8px;
    line-height: 100%;
    color: $text-main-dark;

    @include on-l-desktop {
      font-size: 12px;
      padding-bottom: 12px;
      // height: 44px;
    }
  }

  & tbody tr {
    font-size: 16px;

    &:nth-of-type(2n - 1) {
      background-color: $btn-gray;
    }

    & td:first-of-type {
      padding-block: 4px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    & td:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      white-space: nowrap;
      box-sizing: border-box;
    }

    & td {
      height: 30px;
      padding-inline: 11px;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0;

      @include on-l-desktop {
        font-size: 16px;
      }
    }

    & td:nth-last-child(-n + 3) {
      padding-left: 4px;
    }

    & td:first-of-type {
      padding-left: 4px;
    }

    &:last-of-type {
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
    }
  }

  &__denomination {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 2px;

    @include on-l-desktop {
      padding-left: 4px;
    }
  }

  &__edit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
  }

  &__edit_ico {
    width: 12px;
    height: 12px;
  }
}

.cell1_content {
  max-width: 69px;
}
.cell2_content {
  max-width: 50px;
}
.cell3_content {
  max-width: 50px;
}
.cell4_content {
  max-width: 60px;
}
.cell5_content {
  max-width: 60px;
}
.cell6_content {
  max-width: 60px;
}

@include on-l-desktop {
  .col1 {
    width: 111px;
  }
  .col2 {
    width: 65px;
  }
  .col3 {
    width: 81px;
  }
  .col4 {
    width: 93px;
  }
  .col5 {
    width: 119px;
  }
  .col6 {
    width: 106px;
  }
  .cell1_content {
    max-width: 94px;
  }
  .cell2_content {
    max-width: 58px;
  }
  .cell3_content {
    max-width: 74px;
  }
  .cell4_content {
    max-width: 86px;
  }
  .cell5_content {
    max-width: 112px;
  }
  .cell6_content {
    max-width: 106px;
  }
}

.arrow {
  transition: all 0.3s;

  &_active {
    transform: rotate(-45deg);
  }
}
