@import '@utils/global';

.TerminalItem {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: $light-gray;
  border-radius: 9px;
  padding: 16px 18px 14px 16px;
  // max-height: 172px;
  gap: 20px;
  transform: translateZ(0);
  backface-visibility: hidden;

  @include on-l-desktop {
    padding: 20px 20px 23px;
    // max-height: 219px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
    transform: translateZ(0);
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: end;
    transform: translateZ(0);
  }

  &__label {
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    color: $dark-gray;
    height: 11px;
    min-height: 11px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include on-l-desktop {
      font-size: 12px;
      height: 16px;
      min-height: 16px;
    }

    &_branch {
      margin-top: 12px;

      @include on-l-desktop {
        margin-top: 8px;
      }
    }

    &_time {
      margin-top: 26px;

      @include on-l-desktop {
        margin-top: 28px;
      }
    }
  }

  &__text {
    color: $text-main-dark;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    height: 25px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    min-height: 25px;
    flex-shrink: 0;

    @include on-l-desktop {
      font-size: 22px;
      height: 33px;
      min-height: 33px;
    }

    &_branch {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }

  &__blockAmaunt {
    display: flex;
    gap: 24px;
    margin-top: 15px;
    transform: translateZ(0);

    @include on-l-desktop {
      margin-top: 16px;
    }
  }

  &__amaunt {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    height: 35px;
    min-height: 35px;
    flex-shrink: 0;

    @include on-l-desktop {
      font-weight: 700;
      font-size: 32px;
      height: 44px;
      min-height: 44px;
    }
  }

  &__currency {
    margin-top: 5px;
    border: 1px solid $dark-blue;
    border-radius: 16px;
    display: flex;
    position: relative;
    height: 28px;
    min-height: 28px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 9px;
    width: 94px;
    flex-shrink: 0;

    @include on-l-desktop {
      height: 32px;
      min-height: 32px;
      width: 107px;
      margin-top: 6px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__currencyName {
    color: $dark-gray;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    height: 19px;
    min-height: 19px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    flex-shrink: 0;

    @include on-l-desktop {
      font-size: 18px;
      line-height: 100%;
      height: 25px;
      min-height: 25px;
    }

    &_active {
      color: white;
    }
  }

  &__currencyBtn {
    position: absolute;
    top: 0px;
    width: 44px;
    height: 24px;
    min-height: 24px;
    border-radius: 14px;
    background-color: $green;
    left: 1px;
    right: 1px;
    transition: all 0.3s;
    transform: translateX(calc(100% + 1.5px)) translateY(1.5px);
    flex-shrink: 0;

    &_left {
      transform: translateX(0) translateY(1px);
    }

    &:hover {
      cursor: pointer;
    }

    @include on-l-desktop {
      width: 52px;
      height: 28px;
      min-height: 28px;
      transform: translateX(calc(100% - 1.5px)) translateY(0.5px);
    }
  }

  &__notification {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    margin-top: 6px;
    transform: translateZ(0);

    @include on-l-desktop {
      margin-top: 0px;
    }
  }

  &__status {
    border-radius: 28px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px 4px 8px;
    background-color: white;

    @include on-l-desktop {
      padding: 8px 14px 8px 20px;
      gap: 16px;
    }
  }

  &__time {
    margin-top: 4px;
    display: flex;
    gap: 8px;
    height: 19px;
    min-height: 19px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include on-l-desktop {
      height: 25px;
      min-height: 25px;
    }

    & p {
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      color: $text-main-dark;

      @include on-l-desktop {
        font-size: 16px;
      }
    }
  }

  &__update {
    margin-top: 20px;
    width: 112px;
    height: 32px;
    min-height: 32px;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5px;
    border-radius: 8px;
    border: none;
    flex-shrink: 0;

    @include on-l-desktop {
      margin-top: 16px;
      width: 138px;
      height: 41px;
      min-height: 41px;
    }
    & p {
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
      color: white;

      @include on-l-desktop {
        font-size: 18px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.rotateAnimation {
  animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notifications {
  top: 80px;
  right: 0;
}
