@import '@utils/global';

.TerminalList {
  display: grid;
  gap: 12px 4px;
  padding-top: 24px;
  
  @include on-desktop {
    grid-template-columns: repeat(2, 1fr);

    max-height: 681px;
    
    overflow: auto;
  }
}
