@import '@utils/global';

.SideBarDetails {
  max-width: 188px;
  width: 100%;
  background-color: $bg-white;

  @include on-l-desktop {
    max-width: 272px;
  }

  &__content {
    margin: auto;
    max-width: 180px;
    height: 720px;

    @include on-l-desktop {
      max-width: 240px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include on-l-desktop {
      gap: 8px;
    }
  }

  &__item {

    height: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
    transition: all 0.3s;

    & svg {
      height: 22px;
      width: 22px;

      @include on-l-desktop {
        height: 24px;
        width: 24px;
      }
    }

    @include on-l-desktop {
      padding: 16px;
      height: 56px;
    }

    &:hover {
      background-color: $light-hover-green;
      cursor: pointer;
    }

    &_active {
      background-color: $light-green;

      &:hover {
        background-color: $light-green;
      }
    }
  }

  &__back {
    background-color: $btn-gray;
    transition: all 0.3s;
    padding: 16px 8px 16px 24px;
    display: flex;
    gap: 24px;
    height: 40px;
    width: 100%;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 120px;

    @include on-l-desktop {
      margin-top: 160px;
      height: 56px;
    }

    &:hover {
      background-color: $light-green;
      cursor: pointer;
    }

    & p {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $dark-blue;

      @include on-l-desktop {
        font-size: 18px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: $dark-blue;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include on-l-desktop {
      font-size: 16px;
    }
  }

  &__arrow {
    & path {
      fill: $dark-blue;
    }
  }
}
