@import '@utils/global';

.TopBar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    gap: 21.39px;

    @include on-l-desktop {
      gap: 24.61px;
    }
  }
}
