@import './vars';
@import './mixins';
@import './fonts';

html {
  font-family: 'Open Sans';
}
body {
  font-family: 'Open Sans';
  color: $text-main-dark;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, ul, li, hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-main-dark;
}

table, tr, td, th, tbody, thead {
  padding: 0;
}

.container {
  margin: auto;
  max-width: 1440px;
  width: 100%;
  transform-origin: top;
  transform: scale(0.7);
}