@import './vars';
@import './mixins';
@import './fonts';

html {
  font-family: 'Open Sans';
  transform-origin: top;

}
body {
  font-family: 'Open Sans';
  color: $text-main-dark;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, ul, li, hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-main-dark;
}

table, tr, td, th, tbody, thead {
  padding: 0;
}

.container {
  margin: auto;
  max-width: 68.75%;
  width: 100%;
  

  @include on-l-desktop {
    max-width: 1320px;
  }

}