$desktop-min-width: 1200px;
$desktop-max-width: 1440px;
$laptop-max-width: 1024px;
$laptop-min-width: 769px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;
$mobile-padding: 16px;
$tablet-padding: 24px;
$desktop-padding: 32px;

$dark-blue: #1C222E;
$light-gray: #FAFAFA;
$bg-white: #FDFDFD;
$dark-gray: #9EA2A5;
$text-main-dark: #2C2C2E;
$green: #487868;
$gray: #F8F8F8;
$light-green: #C9EF43;
$light-hover-green: #EDFEF1;
$btn-gray: #F8F8F8;
$red: #B42154;