@import '@utils/global';

.StatusTerminal {
  display: flex;
    align-items: center;
    gap: 16px;
    padding: 4px 10px 3px 20px;
    background-color: white;

    & p {
      height: 25px;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      display: flex;
      align-items: center;
    }

    &_online {
      color: #32d199;
    }

    &_offline {
      color: #b42154;
    }
}
