@import '@utils/global';

.StatusTerminal {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 7px 3px 12px;
  background-color: white;

  @include on-l-desktop {
    padding: 4px 10px 3px 20px;
    gap: 16px;
  }
  
  & p {
    height: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    align-items: center;

    @include on-l-desktop {
      height: 25px;
      font-size: 18px;
    }
  }

  &_online {
    color: #32d199;
  }

  &_offline {
    color: #b42154;
  }
}
