@import '@utils/global';

.BranchInput {
  color: $text-main-dark;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  height: 25px;
  margin-top: 4px;

  @include on-l-desktop {
    height: 30px;
    font-size: 22px;
  }

  &_branch {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  
}
